---
import { getCollection } from 'astro:content';
import type { WorkExperience } from '../../../utils/Types';
import WorkExperiencePosition from './WorkExperiencePosition.astro';

const workExperiencesRaw: WorkExperience[] =
  await getCollection('workExperience');

const workExperiences = workExperiencesRaw.sort((a, b) => {
  return a.data.index - b.data.index;
});
---

<style>
  .work-experience {
    backdrop-filter: blur(1px);
    max-width: var(--main-width);
    padding: var(--xl-spacing) 0;
    margin: 0 auto;
    background: var(--section-background-gradient);
  }

  .work-experience-container {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--default-spacing);
    width: 100%;
  }
</style>

<section class="work-experience">
  <div class="work-experience-container">
    {
      workExperiences.map((workExperienceItem, index) => (
        <WorkExperiencePosition
          workExperience={workExperienceItem}
          isOpen={index === 0}
        />
      ))
    }
  </div>
</section>
