---
import type { WorkExperience } from '../../../utils/Types';
import Tag from '../../Tag.astro';

export interface Props {
  workExperience: WorkExperience;
  isOpen?: boolean;
}

const { workExperience, isOpen } = Astro.props;
const {
  frontmatter: { title, company, time },
  Content,
} = workExperience;
---

<style>
  .work-experience-item {
    width: 100%;

    &[open] {
      .work-experience-item-summary {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }
    }
  }

  .work-experience-item-summary {
    position: relative;
    list-style: none;
    border-radius: var(--border-radius);
    background-color: var(--light-gray-color);
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid var(--gray-color);
    cursor: pointer;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      .work-experience-item-summary-pattern {
        --mask: linear-gradient(to right, transparent, transparent 20%, black);
      }
    }
  }

  .work-experience-item-summary-pattern {
    --radial-gradient: radial-gradient(
      var(--gray-color) 12.8%,
      transparent 12.8%
    );
    --mask: linear-gradient(to right, transparent, transparent 70%, black);

    display: none;

    @supports (mask-image: var(--mask)) {
      display: block;
      background-image: var(--radial-gradient), var(--radial-gradient);
      background-position:
        0px 0px,
        6px 6px;
      background-size: 12px 12px;
      background-color: var(--light-gray-color);
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      z-index: 0;
      -webkit-mask-image: var(--mask);
      mask-image: var(--mask);
    }
  }

  .work-experience-item-content {
    padding: var(--default-spacing);
    background-color: var(--light-gray-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: 2px solid var(--gray-color);
    border-top: none;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .work-experience-item-description {
    padding: var(--default-spacing);
    z-index: 1;
  }

  .work-experience-item-title {
    font-size: 30px;
    font-family: var(--roboto-condensed);
    margin: 0;
  }

  .work-experience-item-tag {
    margin-top: 4px;
  }

  @media (min-width: 480px) {
    .work-experience-item-title {
      font-size: 40px;
    }
  }
</style>

<details class="work-experience-item" open={!!isOpen}>
  <summary class="work-experience-item-summary">
    <div class="work-experience-item-summary-pattern"></div>
    <div class="work-experience-item-description">
      <h3 class="work-experience-item-title">{title}</h3>
      <Tag text={`@ ${company}`} class="work-experience-item-tag" />
      <Tag text={time} class="work-experience-item-tag" />
    </div>
  </summary>
  <div class="work-experience-item-content">
    <Content />
  </div>
</details>
