/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-medium;
        @apply text-4xl;
        @apply uppercase;
        @apply font-roc-grotesk;
    }

    h2 {
        @apply font-bold;
        @apply text-5xl;
        @apply font-roc-grotesk;
    }

    h3 {
        @apply text-2xl;
        @apply font-medium;
        @apply font-roc-grotesk;
    }

    h4 {
        @apply font-roc-grotesk;
    }

    body {
        @apply text-j-black;
        @apply font-sans;
    }

    .post-content a {
        @apply text-j-lilac;
        @apply underline;
    }

    .hero {
        background: rgb(218,202,224);
        background: linear-gradient(150deg, rgba(218,202,224,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 72%, rgba(240,240,252,1) 100%);
    }

    a .hero {
        @apply font-bold;
        @apply underline;
    }

    .mywork {
        background: rgb(218,202,224);
        background: linear-gradient(150deg, rgba(218,202,224,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 72%, rgba(240,240,252,1) 100%);
    }

    .about {
        background: rgb(35,32,31);
        background: linear-gradient(219deg, rgba(35,32,31,1) 72%, rgba(50,26,51,1) 100%);
    }

    .card_header {
        background: rgb(84,13,110);
        background: linear-gradient(219deg, rgba(84,13,110,1) 0%, rgba(255,165,0,1) 52%, rgba(84,13,110,1) 100%);
    }

    .post-header {
        background: rgb(218,202,224);
        background: linear-gradient(150deg, rgba(218,202,224,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 72%, rgba(240,240,252,1) 100%);
    }
}
