/* stylelint-disable color-no-hex */

@mixin light-colors {
  --bg-color: #fffdf9;
  --text-color: #222;
  --secondary-text-color: #666;
  --blurry-circle-blue: #dce4ed;
  --blurry-circle-green: #d5f1d5;
  --img-filter: none;
  --mesh-filter: none;
  --backdrop-bg-color: #fbf8ea;
  --backdrop-gradient-green-1: #9fd19f;
  --backdrop-gradient-green-2: #6ebfa0;
  --backdrop-gradient-blue: #a1d0ed;
  --backdrop-gradient-orange: #ffac64;
}

@mixin dark-colors {
  --bg-color: #141417;
  --text-color: #fff;
  --secondary-text-color: #ccc;
  --blurry-circle-blue: #465c89;
  --blurry-circle-green: #3e684e;
  --img-filter: brightness(0.7);
  --mesh-filter: invert(1);
  --backdrop-bg-color: #131337;
  --backdrop-gradient-green-1: #4a6b4a;
  --backdrop-gradient-green-2: #3a5f4a;
  --backdrop-gradient-blue: #4a6b8a;
  --backdrop-gradient-orange: #874409;
}

@mixin global-colors {
  --clear-color: transparent;
  --backdrop-gradient: linear-gradient(
      to right,
      var(--bg-color) 0%,
      var(--clear-color) calc(50% - var(--main-width) / 2),
      var(--clear-color) calc(50% + var(--main-width) / 2),
      var(--bg-color) 100%
    ),
    radial-gradient(
      at 51% 49%,
      var(--backdrop-gradient-green-1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 9% 71%,
      var(--backdrop-gradient-green-2) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 76% 19%,
      var(--backdrop-gradient-blue) 0px,
      transparent 50%
    );
  --contact-me-gradient: linear-gradient(
      to right,
      var(--bg-color) 0%,
      var(--clear-color) calc(50% - var(--main-width) / 2),
      var(--clear-color) calc(50% + var(--main-width) / 2),
      var(--bg-color) 100%
    ),
    radial-gradient(
      at 9% 71%,
      var(--backdrop-gradient-orange) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 76% 19%,
      var(--backdrop-gradient-blue) 0px,
      transparent 50%
    );
}
