@mixin fonts {
  --roboto: 'Roboto', sans-serif;
  --roboto-condensed: 'Roboto Condensed', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
}

@mixin measurements {
  --main-width: 848px;
  --xxl-spacing: 128px;
  --xl-spacing: 64px;
  --bigger-spacing: 32px;
  --default-spacing: 16px;
  --smaller-spacing: 8px;

  --default-text-size: 17px;
}

@mixin light-colors {
  --bg-color: #fff;
  --text-color: #222;
  --secondary-text-color: #666;
  --blue-color: #07169e;
  --light-blue-color: #3947c5;
  --gray-color: #e1e2ec;
  --light-gray-color: #fcfcfc;
}

@mixin dark-colors {
  --bg-color: #222;
  --text-color: #fff;
  --secondary-text-color: #ccc;
  --blue-color: #3445dd;
  --light-blue-color: #3947c5;
  --gray-color: #3b3b42;
  --light-gray-color: #2b2b2b;
}

@mixin global-colors {
  --clear: transparent;
  --section-background-gradient: linear-gradient(to bottom,
      var(--clear),
      var(--bg-color) var(--bigger-spacing),
      var(--bg-color) calc(100% - var(--bigger-spacing)),
      var(--clear));
}

html {
  @include fonts;
  @include light-colors;
  @include global-colors;
  @include measurements;
}

@media (prefers-color-scheme: dark) {
  html {
    @include dark-colors;
  }
}

body {
  background-color: var(--bg-color);
  font-family: var(--roboto);
  color: var(--text-color);
  height: 100vh;
  margin: 0;
  overflow: auto;
  background: linear-gradient(90deg,
    var(--bg-color),
    var(--bg-color) calc(50% - 4px),
    var(--clear) 8px calc(50% - 4px),
    var(--clear) 16px calc(50% + 4px),
    var(--bg-color) calc(50% + 4px),
    var(--bg-color)
  ), 
  linear-gradient(
    var(--bg-color),
    var(--gray-color)
  );
  background-repeat: no-repeat;
  background-attachment: fixed; 
  
  p {
    line-height: 1.4;
    font-size: var(--default-text-size);
  }

  .accent-color {
    background: linear-gradient(to left, var(--light-blue-color), var(--blue-color), var(--light-blue-color));
    color: transparent;
    background-clip: text;
  }
}

.title > * {
  display: inline-block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}