@import 'colors';
@import 'variables';

@font-face {
  font-family: 'Neue Regrade';
  src: url('/fonts/Neue Regrade Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Regrade';
  src: url('/fonts/Neue Regrade Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

html {
  @include fonts;
  @include light-colors;
  @include global-colors;
  @include measurements;
  @include z-index;
}

@media (prefers-color-scheme: dark) {
  html {
    @include dark-colors;
  }
}

body {
  background-color: var(--bg-color);
  font-family: var(--merriweather);
  color: var(--text-color);
  height: 100vh;
  margin: 0;
  overflow: auto;
  font-size: var(--font-size-xsm);
  line-height: 1.6;
  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--neue-regrade);
  }

  :focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--text-color);
  }

  strong {
    font-weight: 800;
  }

  @media (min-width: $breakpoint-sm) {
    font-size: var(--font-size-sm);
  }

  @media (min-width: $breakpoint-lg) {
    font-size: var(--font-size-md);
  }
}
