$breakpoint-sm: 576px;
$breakpoint-lg: 960px;

@mixin fonts {
  --merriweather: 'Merriweather Variable', serif;
  --neue-regrade: 'Neue Regrade', sans-serif;
}

@mixin measurements {
  --main-width: 960px;
  --spacing-unit: 8px;
  --spacing-xxxxlg: calc(var(--spacing-unit) * 32);
  --spacing-xxxlg: calc(var(--spacing-unit) * 24);
  --spacing-xxlg: calc(var(--spacing-unit) * 16);
  --spacing-xlg: calc(var(--spacing-unit) * 8);
  --spacing-lg: calc(var(--spacing-unit) * 4);
  --spacing-md: calc(var(--spacing-unit) * 2);
  --spacing-sm: var(--spacing-unit);
  --font-size-md: 18px;
  --font-size-sm: 17px;
  --font-size-xsm: 16px;
  --border-radius-xsm: 2px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
}

@mixin z-index {
  --z-index-base: 0;
  --z-index-hero-bg: 1;
  --z-index-hero-juan: 10;
  --z-index-content: 100;
}
