@mixin fonts {
  --merriweather: 'Merriweather Variable', serif;
  --neue-regrade: 'Neue Regrade', sans-serif;
}

@mixin measurements {
  --main-width: 960px;

  --spacing-unit: 8px;

  --xxl-spacing: calc(var(--spacing-unit) * 16);
  --xl-spacing: calc(var(--spacing-unit) * 8);
  --bigger-spacing: calc(var(--spacing-unit) * 4);
  --default-spacing: calc(var(--spacing-unit) * 2);
  --smaller-spacing: var(--spacing-unit);

  --default-text-size: 18px;

  --border-radius: 2px;
}

@mixin z-index {
  --z-index-base: 0;
  --z-index-hero-bg: 1;
  --z-index-hero-juan: 10;
  --z-index-content: 100;
}

$breakpoint-sm: 576px;
