---
import SkillLabel from "./SkillLabel.astro";
import {Content as AboutMeText} from './AboutMe.md';
---

<div class="w-full about text-white scroll-mt-16" id="about-me">
    <div class="container mx-auto max-w-6xl py-24 px-4">
        <div class="flex flex-col gap-8">
            <h2>This is <span class="text-j-orange">Juan</span></h2>
            <div class="grid md:grid-cols-2 gap-4 items-start justify-start">
                <div
                    class="flex flex-col gap-2 items-start justify-start w-full"
                >
                    <SkillLabel text="iOS Development" />
                    <SkillLabel text="Full Stack Development" />
                    <SkillLabel text="Project Management" />
                    <SkillLabel text="Clear Communication" />
                    <SkillLabel text="Leadership" />
                </div>
                <div class="flex flex-col gap-2">
                    <AboutMeText />
                </div>
            </div>
        </div>
    </div>
</div>
