---
import { Content as AboutMeText } from '../../mds/AboutMe.md';
---

<style>
  article {
    backdrop-filter: blur(1px);
    max-width: var(--main-width);
    padding: var(--xl-spacing) 0;
    margin: 0 auto var(--xl-spacing);
    background: var(--section-background-gradient);
  }

  .title {
    font-family: var(--roboto-condensed);
    font-size: 30px;
    line-height: 1.1;
    margin: 0 0 var(--default-spacing);
    width: clamp(340px, 100%, 600px);
  }

  .accent-color {
    white-space: nowrap;
  }

  @media (min-width: 400px) {
    .title {
      font-size: 36px;
    }
  }

  @media (min-width: 480px) {
    .title {
      font-size: 42px;
    }
  }
</style>

<article class="about-me">
  <h2 class="title">
    Juan is a developer with <span class="accent-color">
      project management
    </span> experience
  </h2>
  <AboutMeText />
</article>
