---
import SkillLabel from "./SkillLabel.astro";
---

<div class="w-full about text-white" id="about-me">
    <div class="container mx-auto max-w-6xl py-24 px-4">
        <div class="flex flex-col gap-8">
            <h2>This is <span class="text-j-orange">Juan</span></h2>
            <div class="grid md:grid-cols-2 gap-4 items-start justify-start">
                <div
                    class="flex flex-col gap-2 items-start justify-start w-full"
                >
                    <SkillLabel text="iOS Development" />
                    <SkillLabel text="Front End Development" />
                    <SkillLabel text="Project Management" />
                    <SkillLabel text="Clear Communication" />
                    <SkillLabel text="Leadership" />
                </div>
                <div class="flex flex-col gap-2">
                    <p>I’m a third year Computer Science student at the University of Helsinki. My interests include networks, usability and agile development. I come from a multicultural background and speak Finnish and Spanish natively.  I also speak English on a X level and Portuguese on X level.</p>
                    <p>Before transitioning to the field of IT I did a 6 year career in technical event production and I worked as the Chief Technical Producer for two companies. My work included technical design, production and execution of events. As I’m a good communicator, I was always present in production meetings with our customers and the end client was usually in direct contact with me thru out the production. Our clients included well known international companies.</p>
                </div>
            </div>
        </div>
    </div>
</div>
