---

---

<style>
  .hero {
    height: 500px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 0 var(--xxl-spacing);

    .title {
      margin: 0;
      text-align: right;
      color: var(--secondary-text-color);
      font-family: var(--roboto-condensed);
      font-size: 24px;
      line-height: 1.2;

      .main {
        color: var(--text-color);
        font-size: 32px;
      }
    }
  }
</style>

<section class="hero">
  <p class="title">
    <strong class="main">Web Developer</strong><br />
    Bachelor of Computer Science<br />
    Former Technical Event Production Pro
  </p>
</section>
