---
import Button from "../Button.astro";
---

<div class="w-full hero">
    <div class="container mx-auto max-w-6xl py-8 md:py-24 px-4">
        <div class="grid md:grid-cols-2 gap-4 mt-36">
            <div class="flex flex-col justify-center md:order-2">
                <img
                    src="/juanito.png"
                    class="h-80 object-contain"
                    alt="Memoji huhe"
                />
            </div>
            <div class="flex flex-col gap-8 justify-center">
                <h2>
                    Software developer with a passion for <span
                        class="text-j-orange">project management</span
                    >
                </h2>
                <div class="flex flex-row gap-4 items-end justify-start">
                    <Button label="Curriculum Vitae" icon="/file_icon.svg" href="https://bit.ly/juans-cv"/>
                    <Button label="GitHub" icon="/github_icon.svg" href="https://github.com/JuanitoSebastian" />
                </div>
                <p>
                    Hey, my name is Juan! I’m a positive team player and
                    a creative problem solver. I'm looking for a junior position
                    or an internship in the field of IT. Send me a message!
                </p>
            </div>
        </div>
    </div>
</div>