---
export interface Props {
    text: string;
}

const { text } = Astro.props;
---

<div class="relative flex flex-row w-full items-center gap-4">
    <h3 class="flex-shrink">{text}</h3>
    <div class="flex-grow border-t border-2 border-j-light-lilac opacity-40">
    </div>
</div>
