---
import SocialMediaLink from '../SocialMediaLink.astro';

const socialMediaLinkObjects = [
  {
    to: 'https://www.linkedin.com/in/juanito-sebastian/',
    iconUrl: '/linkedin_icon.svg',
    alt: 'LinkedIn',
  },
  {
    to: 'https://github.com/JuanitoSebastian',
    iconUrl: '/github_icon.svg',
    alt: 'GitHub',
  },
  {
    to: 'https://www.instagram.com/juanito.wav/',
    iconUrl: '/instagram_icon.svg',
    alt: 'Instagram',
  },
  {
    to: 'https://bsky.app/profile/juan.fi',
    iconUrl: '/bsky_icon.svg',
    alt: 'Bluesky',
  },
];
---

<style>
  .socials {
    backdrop-filter: blur(1px);
    max-width: var(--main-width);
    padding: var(--xl-spacing) 0;
    margin: 0 auto;
    background: linear-gradient(
      to bottom,
      var(--clear),
      var(--bg-color) var(--bigger-spacing)
    );
  }

  .socials-container {
    margin: 0 auto;
    position: relative;
    list-style: none;
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: var(--light-gray-color);
    border: 2px solid var(--gray-color);
    gap: var(--default-spacing);
    width: fit-content;
    padding: var(--smaller-spacing);
  }
</style>

<section class="socials">
  <div class="socials-container">
    {
      socialMediaLinkObjects.map((socialMediaLinkObject) => (
        <SocialMediaLink {...socialMediaLinkObject} />
      ))
    }
  </div>
</section>
