---
import type { WorkExperience } from '../../utils/Types';

export interface Props {
  workExperience: WorkExperience;
}

const { workExperience } = Astro.props;
const { frontmatter: { title, company, time }, Content } = workExperience;
---

<details class="work-experience-item">
  <summary>
    <h3 class="work-experience-item-title">{title}</h3>
    <p>{company}</p>
    <p>{time}</p>
  </summary>
  <Content />
</details>