---
export interface Props {
    label: string;
    icon: string;
    href: string;
}

const { label, icon, href } = Astro.props;
---

<a href={href} target="_blank" class="group">
    <div class="flex flex-col gap-2">
        <div class="flex flex-row px-4 gap-2.5 justify-start group-hover:-translate-y-0.5 transition-transform duration-300">
            <img class="align-middle w-6 aspect-square" src={icon} />
            <h4 class="align-baseline mt-2 text-j-dark-lilac text-lg">{label}</h4>
        </div>
        <div class="w-full border border-j-dark-lilac rounded group-hover:border-j-lilac transition duration-300 group-hover:shadow shadow-j-lilac"></div>
    </div>
</a>
