---
---

<div class="w-full bg-white bg-opacity-50 fixed top-0 backdrop-blur z-20 h-36">
    <header class="container mx-auto max-w-6xl py-4 px-4">
        <div class="grid grid-cols-2">
            <div class="flex flex-col gap items-start">
                <a href="/">
                    <h1 class="">Juan</h1>
                    <h1 class="">Sebastian</h1>
                    <h1 class="">Covarrubias</h1>
                </a>
            </div>
            <nav class="flex-row gap-8 items-center justify-end md:flex hidden">
                <a class="font-light" href="/#about-me">about me</a>
                <a class="font-light" href="/#my-work">my work</a>
                <a class="font-light" href="/#footer">contact</a>
            </nav>
        </div>
    </header>
</div>