---

---

<div class="w-full bg-white bg-opacity-50 sticky top-0 backdrop-blur z-20">
    <header class="container mx-auto max-w-6xl py-4 px-2">
        <div class="grid grid-cols-2">
            <div class="flex flex-col gap items-start">
                <h1 class="">Juan</h1>
                <h1 class="">Sebastian</h1>
                <h1 class="">Covarrubias</h1>
            </div>
            <nav class="flex flex-row gap-8 items-center justify-end">
                <a class="font-light" href="#">about me</a>
                <a class="font-light" href="#">my work</a>
                <a class="font-light" href="#">contact</a>
            </nav>
        </div>
    </header>
</div>