---
import huhe from "../../public/huhe.png";
---

<div class="w-full hero">
    <div class="container mx-auto max-w-6xl py-4 px-2 h-[32rem]">
        <div class="grid grid-cols-2 gap-4 h-full">
            <div class="flex flex-col gap-8 justify-center">
                <h2>
                    Software developer with a passion for <span
                        class="text-j-orange">project management</span
                    >
                </h2>
                <p>
                    Hey, my name is Juan! I’m a positive team player and
                    a creative problem solver. My strengths is comining
                    technical knowledge to my social skills.
                </p>
            </div>
            <div class="flex flex-col justify-center">
                <img
                    src={huhe}
                    class="h-80 object-contain"
                    alt="Memoji huhe"
                />
            </div>
        </div>
    </div>
</div>