---
import Header from '../components/Header.astro';
---

<style>
  .layout {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--default-spacing);

    .main-content {
      width: 100%;
      max-width: var(--main-width);
      padding: 0 0 var(--xl-spacing);
    }
  }
</style>

<div class="layout">
  <Header />
  <main class="main-content">
    <slot />
  </main>
</div>
