---
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import type { MarkdownLayoutProps } from "astro";
import type { Frontmatter } from "../utils/Types";
import TagLabel from "../components/posts/TagLabel.astro";

import "../styles/base.css";

type Props = MarkdownLayoutProps<Frontmatter>;

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://use.typekit.net/hdx6orh.css" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <div class="flex flex-col h-screen">
            <Header client:load />
            <main>
                <div class="w-full bg-j-light-lilac border-b-2">
                    <div class="container mx-auto max-w-6xl py-8 md:py-24 px-4">
                        <div class="flex flex-col gap-4 items-start mt-36">
                            <a href="/" class="uppercase">
                                <div class="flex flex-row items-center gap-2">
                                    <img
                                        src="/back.svg"
                                        class="object-contain w-6 mb-1 stroke-gray-500"
                                    />
                                    <p class="font-roc-grotesk">Back</p>
                                </div>
                            </a>
                            <h2>{frontmatter.title}</h2>
                            <div class="flex flex-row gap-2 items-start">
                                {
                                    frontmatter.tags.map((tag) => (
                                        <TagLabel tag={tag} />
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white post-content">
                    <div class="container mx-auto max-w-6xl py-8 md:py-16 px-4">
                        <div class="flex flex-col gap-4">
                            <slot />
                        </div>
                    </div>
                </div>
            </main>
            <div class="flex-grow"></div>
            <footer>
                <Footer />
            </footer>
        </div>
    </body>
</html>
