---
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import "../styles/base.css";
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://use.typekit.net/hdx6orh.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" /><link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        /><link
            href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="flex flex-col h-screen">
            <Header client:load />
            <slot />
            <div class="flex-grow"></div>
            <footer>
                <Footer />
            </footer>
        </div>
    </body>
</html>
